{% extends 'base.html' %}

{% block title %}
{{quiz.user.username}}
{% endblock title %}

{% block content %}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">How much you know about {{quiz.user.username}} ?</h4>
  <p>This is a friendly quiz created by {{quiz.user.username}} to see how much you know about them.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
    {% for question in questions %}
<ul class="list-group">
    
  <li class="list-group-item active mt-2" aria-current="true">Q.{{forloop.counter}} {{question.text}}</li>
  {% for option in question.options.all %}
  <li class="list-group-item">{{option.text}}</li>
  {% endfor %}
  
</ul>
    {% endfor %}
{% endblock content %}