{% load static %}
<center>
            {% if user.is_authenticated %}
            {% else %}
            Login or signup to create your own quiz
            <br>
            <!-- Button trigger login modal -->
            <button type="button" class="btn btn-primary mx-2 my-2" data-bs-toggle="modal" data-bs-target="#loginModal">
                Login
            </button> or
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#signupModal">
                SignUp
            </button>

            <br>
                <a class="btn btn-outline-dark" href="{%url 'google_login'%}" role="button" style="text-transform:none">
                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="{%static 'img/google_logo.png'%}" />
                Login with Google
                </a>
             

            {% endif %}
        </center>