{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<!-- <center><h1 class="display-5">QuizBuddy</h1></center> -->
{% if user.is_authenticated %}
<a class="btn btn-primary btn-sm my-2" href="{%url 'quiz_list'%}">My Quiz</a>
{% endif %}
<!-- <h3>how much your firends know about you ?</h3>-->
 <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Welcome to QuizBuddy</h4>
  <p>Create you own quiz , share with your friends, and see how much they know about you !</p>
  <hr>
  <p class="mb-0">Follow these few steps to get started.</p>
</div>
<ul class="list-group my-2">
  <li class="list-group-item list-group-item-primary">1. Login or create your account .</li>
  <li class="list-group-item list-group-item-secondary">2. Create your quiz.</li>
  <li class="list-group-item list-group-item-success">3. Add questions and options of your own choice.</li>
  <li class="list-group-item list-group-item-info">4. share quiz link with your friends.</li>
  <li class="list-group-item list-group-item-warning">5. Check their results</li>
</ul>
{% include "auth.html" %}
{% endblock content %}